@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*body*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
/*body*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");
/*Statics*/
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
/*Suucess Story Name*/
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
/*bnna baisa tag*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
}

.footer-width {
  max-width: 100% !important;
}


/* Assuming you have defined the class "slider-container" for your slider container */
.slick-prev:before,
.slick-next:before {
  color: #000; /* Arrow color */
}

/* Navbar Dropdown */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 96px;
  left: 50%;
  transform: translate(-40%, 0);
  max-width: 1200px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  transition: 0.2s ease-in-out;
  z-index: 9;
}

.dropdown-content a {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
  border-bottom: 4px solid #2495f600;
}

.dropdown-content a:hover {
  /* color: #C1314D; */
  /* border-bottom: 4px solid #C1314D; */
  transition: 0.2s ease-in-out;
  font-weight: 500;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Navbar Dropdown End */

/* Responsive Navbar Dropdown */

.dropdown-content {
  display: none;
  position: absolute;
  top: 96px;
  left: 50%;
  transform: translate(-40%, 0);
  max-width: 1200px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  transition: 0.2s ease-in-out;
  z-index: 9;
}

/* Responsive Navbar Dropdown End */

/* Success Story Images */

.slider-image-container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.slider-image-container img {
  vertical-align: middle;
  transition: 0.5s ease-in-out;
}

.slider-image-container img:hover {
  transform: scale(1.1);
}

.slider-image-container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  /* Fallback color */
  background: rgba(0, 0, 0, 0.5);
  /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Success Story Images Ends */

/* Counter Hover */

.counter-box,
.counter-box:hover .counter-icon,
.counter-box:hover .counter-text {
  transition: 0.5s ease-in-out;
}

.counter-box:hover {
  /* background-color: #C1314D; */
}

.counter-box:hover .counter-icon {
  color: #ffffff;
}

.counter-box:hover .counter-text {
  color: #ffffff;
}

/* Counter Hover End */

/* Why us Hover */
.whyUsBox:hover {
  background-color: #C1314D;
}

.whyUsBox:hover .whyUsBoxText {
  color: #ffffff;
}

/* Why us Hover End*/

/*  */

.profile-dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.profile-dropdown-content {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  min-width: 160px;
  padding-top: 5px;
  z-index: 1;
}

.profile-dropdown:hover .profile-dropdown-content {
  display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 2px 10px;
  font-size: 14px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;

  width: auto;
  bottom: 100%;
  left: 50%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.styles-module_wrapper__1I_qj {
  z-index: 100 !important;
  background-color: rgba(0, 0, 0, 0.9) !important;
}

.styles-module_close__2I1sI {
  color: white !important;
  opacity: 100% !important;
}

.styles-module_prev__KqFRp {
  opacity: 1 !important;
}

.styles-module_next__1uQwZ {
  opacity: 1 !important;
}

.profile-dropdown-main {
  /* left: 0; */
}

.dropdown-item:hover {
  color: #C1314D;
} 

.shortlist-actions {
  display: none;
}

.card:hover .shortlist-actions {
  display: block;
}
/*  */

.scrollBar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollBar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.example2 {
  box-shadow: 4px 0 8px -2px #dfe6e6;
}

.lineLimit {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
          line-clamp: 1; 
  -webkit-box-orient: vertical;
}


#composition-menu::-webkit-scrollbar {
  width: 1px;
}

/* Track */
#composition-menu::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
#composition-menu::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
#composition-menu::-webkit-scrollbar-thumb:hover {
  background: #555; 
}